.colorModeDark {
  filter: invert(1);
  transform: rotate(180deg);
  transition: ease-in 0.3s;
}

.colorModeToggle {
  cursor: pointer;
  position: absolute;
  right: 14px;
  top: 18px;
  transition: ease-in 0.3s;
}
.heading {
  display: flex;
  margin-top: 10px;
}
.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  width: 100%;
}
.homeHeading {
  color: var(--color-primary-text);
  font-size: 2.5rem;
}
.lightMode {
  filter: invert(1);
}
