.colorModeDark {
  filter: invert(1);
  transform: rotate(180deg);
  transition: ease-in 0.2s;
}

.colorModeToggle {
  cursor: pointer;
  position: absolute;
  right: 14px;
  top: 18px;
  transition: ease-in 0.2s;
}
.colorModeToggle:focus {
  outline: none;
  box-shadow: 0px 0px 4px 4px #1584c5;
  border-radius: 50%;
}
.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  padding-bottom: 20px;
  width: 100%;
}
.homeHeading {
  color: var(--color-primary-text);
  font-size: 2.5rem;
  margin: 0;
}
