.canvas {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  max-height: 100vh;
}
.montage {
  align-items: center;
  background: black;
  display: flex;
  justify-content: center;
  height: 500vh;
  width: 100vw;
}
.refreshHint {
  align-items: center;
  backdrop-filter: blur(20px);
  color: var(--color-primary-text);
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  z-index: 1000;
}
.refreshHint > button {
  background: var(--color-primary-text);
  border: none;
  border-radius: 5px;
  height: 30px;
  margin-top: 5px;
}
.scrollIndicator {
  top: 30px;
  filter: invert(1);
  position: fixed;
  height: 50px;
  width: 50px;
}
