.anime {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.animeTitle {
  color: var(--color-primary-text);
  font-size: 2.5rem;
}

@media only screen and (max-width: 440px) {
  .animeTitle {
    max-width: 200px;
    text-align: center;
  }
}
