.anime {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
}
.animeTitle {
  color: var(--color-primary-text);
  font-size: 2.5rem;
  margin-top: 10px;
}
.appLogo {
  position: absolute;
  left: 10px;
  top: 12px;
  transform: scale(0.6);
}
@media only screen and (max-width: 440px) {
  .animeTitle {
    max-width: 200px;
    text-align: center;
  }
}
