.anime {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 80vw;
  overflow: auto;
}
.animeTitle {
  color: var(--color-primary-text);
  font-size: 2.5rem;
}

@media only screen and (max-width: 440px) {
  .animeTitle {
    max-width: 200px;
  }
}
