.attributeLink {
  color: var(--color-primary-text);
}
.attributeLink:hover {
  color: var(--color-link-hover);
}
.disclaimer {
  font-size: 10px;
  padding: 0 10px 0 10px;
  text-align: center;
}
.footer {
  align-items: center;
  background: var(--color-secondary-bg);
  color: var(--color-primary-text);
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
}
