.layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
    width: 100%;
}
.layout>*{
    margin:5px;
}
@media only screen and (max-width:700px){
    .layout{
        display: flex;
        flex-direction: column;
    }
}